@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .truncate {
  white-space: nowrap;        
  overflow: hidden;          
  text-overflow: ellipsis;   
  max-width: 50px;     
} */
 

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Combined animation */
@keyframes spinAndHeartbeat {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  40%, 60% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.spin-heartbeat {
  display: inline-block;
  animation: spinAndHeartbeat 1.5s ease-in-out;
}

@keyframes doubleHeartbeat {
  0%, 40%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.2);
  }
}


.double-heartbeat { 
  display: inline-block;
  animation: doubleHeartbeat 1s ease-in-out 2s infinite;
}

.spin-heartbeat2 {
  display: inline-block;
  animation: spinAndHeartbeat 1.5s ease-in-out 3s, doubleHeartbeat 1s ease-in-out 1.5s infinites;
}



  


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
